<!DOCTYPE html>

<html>

<head>
  <title>{{title}}</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>Use data from mapbox.com and darksky.net to show weather for a given location.</p>
    <img class="portait" src="/img/monarq.png">
  </div>
  {{>footer}}
</body>

</html>
